<div class="row row-cols-1 w-80-p m-0-a h-100-p background-white-color">
    <div class="col-sm-7 background-image-signUp"></div>
    <div class="col-sm-5 mt-3">
        <h3 class="mb-2 text-center">{{'SIGN_UP' | transalation}}</h3>
        <p class="mb-4 text-center">
            {{'INTRO' | transalation}}
        </p>
        <app-toast [show]="isServiceError" [classNames]="'mb-4'" (onCloseEvent)="setServiceError($event)"></app-toast>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" data-testid="sign-up-form">
            <div class="form-group mb-3">
                <input type="text" formControlName="firstName" class="form-control" id="firstName"
                    [ngClass]="{'error-highlighter': signUpForm.get('firstName')?.invalid && (signUpForm.get('firstName')?.dirty || signUpForm.get('firstName')?.touched)}"
                    [placeholder]="'FIRSTNAME_PLACEHOLDER' | transalation">
                <ng-container
                    *ngIf="signUpForm.get('firstName')?.invalid &&  signUpForm.get('firstName')?.errors && (signUpForm.get('firstName')?.dirty || signUpForm.get('firstName')?.touched)">
                    <small class="text-danger" *ngIf="signUpForm.get('firstName')?.hasError('required')">
                        {{'REQUIRED' | transalation}}
                    </small>
                </ng-container>
            </div>
            <div class="form-group mb-3">
                <input type="text" formControlName="lastName" class="form-control" id="lastName"
                    [ngClass]="{'error-highlighter': signUpForm.get('lastName')?.invalid &&  (signUpForm.get('lastName')?.dirty || signUpForm.get('lastName')?.touched)}"
                    [placeholder]="'LASTNAME_PLACEHOLDER' | transalation">
                <ng-container
                    *ngIf="signUpForm.get('lastName')?.invalid &&  signUpForm.get('lastName')?.errors && (signUpForm.get('lastName')?.dirty || signUpForm.get('lastName')?.touched)">
                    <small class="text-danger" *ngIf="signUpForm.get('lastName')?.hasError('required')">
                        {{'REQUIRED' | transalation}}
                    </small>
                </ng-container>
            </div>
            <div class="form-group mb-3">
                <input type="email" formControlName="email" class="form-control" id="email"
                    [ngClass]="{'error-highlighter': signUpForm.get('email')?.invalid &&  (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)}"
                    [placeholder]="'EMAIL_PLACEHOLDER' | transalation">
                <ng-container
                    *ngIf="signUpForm.get('email')?.invalid &&  signUpForm.get('email')?.errors && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
                    <small class="text-danger" *ngIf="signUpForm.get('email')?.hasError('required')">
                        {{'REQUIRED' | transalation}}
                    </small>
                    <small class="text-danger" *ngIf="signUpForm.get('email')?.hasError('pattern')">
                        {{'INVALID_EMAIL' | transalation}}
                    </small>
                    <small class="text-danger" *ngIf="signUpForm.get('email')?.hasError('invalidEmailDomain')">
                        {{'INVALID_EMAIL_DOMAIN' | transalation}}
                    </small>
                </ng-container>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" id="password"
                    [ngClass]="{'error-highlighter': (signUpForm.get('password')?.invalid &&  (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched) || 
                    signUpForm.errors?.['passwordContains'])}"
                    [placeholder]="'PASSWORD_PLACEHOLDER' | transalation">
                <ng-container
                    *ngIf="signUpForm.get('password')?.invalid &&  signUpForm.get('password')?.errors && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched);else passwordContains">
                    <small class="text-danger" *ngIf="signUpForm.get('password')?.hasError('required')">
                        {{'REQUIRED' | transalation}}
                    </small>
                    <small class="text-danger" *ngIf="signUpForm.get('password')?.hasError('invalidPassword')">
                        {{'INVALID_PASSWORD_COMBINATION' | transalation}}
                    </small>
                </ng-container>
                <ng-template #passwordContains>
                    <small class="text-danger" *ngIf="signUpForm?.errors?.['passwordContains']">
                        {{'INVALID_PASSWORD_CONTAINS_FNAME_LNAME' | transalation}}
                    </small>
                </ng-template>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mt-3" type="submit" [disabled]="signUpForm.invalid">
                    <ng-container *ngIf="isLoading;else signUp"> <span class="spinner-border spinner-border-sm"
                            role="status" aria-hidden="true"></span>
                        {{'SIGN_UP_PROGRESS_BUTTON_TEXT' | transalation}}
                    </ng-container>
                    <ng-template #signUp>
                        {{'SIGN_UP_BUTTON_TEXT' | transalation}}
                    </ng-template>
                </button>
            </div>
        </form>
    </div>
</div>